body {
    background-image: url(../assets/icons.jpg);
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: 400px;
}
.light-blue{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1px 5px;
}
.container {
    min-height: 300px;
    max-width: 60%;
    border-radius: 5px;
}
h1, h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
#tagline {
    text-align: center;
}
.btnsDiv {
    text-align: center;
}
#userGame {
    background-color: rgb(255, 255, 255);
    border: black;
    border-style: groove;
    border-radius: 5px;
}
footer {
    text-align: center;
    font-weight: bold;
    color: black;
}
.past-searches {
    background-color: darkgray;
    text-align: center;
}
/* .dealPic {
    height: 100%;
    width: auto;
} */

@media screen and (max-width: 650px) {
    .btn{
        padding-left: 5px;
        padding-right: 5px;
    }
}
/*Not changing the UI for devices like iPad or Surface Duo, only for phones*/
@media screen and (max-width: 420px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    .container {
        max-width: 75%;
    }
    .btn{
        padding-left: 5px;
        padding-right: 5px;
    }
}
