body  {
    background-image: url(./styling/icons.jpg);
    background-repeat: repeat;
    background-size: 400px;
    }
.containerMain {
    max-width: 70%;
    height: 100%;
    background-color: #cccccc;
    text-align: center;   

}