h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
h2{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
#tagline{
    text-align: center;

}
.container {
    min-height: 300px;
    max-width: 60%;
}
footer{
    text-align: center;
    font-weight: bold;
    color: black;
}

.gamePic {
    width: 200px;
}